<li id = "<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user, size: 52), feed_item.user %>
  <span>
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class = "content">
    <%= wrap(feed_item.content) %>
  </span>
  <span class = "timestamp">
    <%= feed_item.posted_time_in_words %>
  </span>
  <% if feed_item.user == current_user %>
      <span><%= render "shared/micropost_delete_link", post: feed_item %></span>
  <% end %>
</li>